/*====================================================================
- Salad Green #A3CB38
====================================================================*/

:root {
    --theme-primary: #a3cb38;
    --theme-primary-rgb: 164, 203, 56, 0.9;
}

:root .dark-theme {
    --theme-primary: #a3cb38;
    --theme-primary-rgb: 164, 203, 56, 0.9;
}